<h2>DESCRIPTION</h2>
<em>r.sim.stats</em> computes and prints a series of
scores used to evaluate the results of an environmental model by
comparing them to fields measurements.

It is based on methods described by Stanski et al.[0] and compiled by
the Collaboration for Australian Weather and Climate Research[1]

<p><em>r.sim.stats</em> takes two raster maps as input.
Both should be in the form of binary data:
<ul>
<li>0 means that the event is <i>not</i> forecast/observed</li>
<li>1 means that the event <i>is</i> forecast/observed</li>
<li>NULL values are ignored</li>
</ul>

<p>The contingency table below shows the relation between values of both maps.
Those values are also printed in the module output.

<p><table>
<tr>
    <td></td>
    <td>Observed</td>
    <td>Not observed</td>
</tr>
<tr>
    <td>Forecast</td>
    <td>Hits</td>
    <td>False alarms</td>
</tr>
<tr>
    <td>Not forecast</td>
    <td>Misses</td>
    <td>Correct negatives</td>
</tr>
</table>

<p>The calculated scores are described below.

<h3>Accuracy</h3>
AKA Percent Correct
<p>Range: 0 to 1
<p>No skill: 0
<p>Perfect score: 1

<h3>Bias score</h3>
<p>Range: 0 to &infin;
<p>No skill: 0
<p>Perfect score: 1

<h3>Probability of detection</h3>
AKA hit rate
<p>Range: 0 to 1
<p>No skill: 0
<p>Perfect score: 1

<h3>False alarm ratio</h3>
<p>Range: 0 to 1
<p>No skill: 1
<p>Perfect score: 0

<h3>Probability of false detection</h3>
AKA false alarm rate
<p>Range: 0 to 1
<p>No skill: 1
<p>Perfect score: 0

<h3>Success ratio</h3>
<p>Range: 0 to 1
<p>No skill: 0
<p>Perfect score: 1

<h3>Threat score</h3>
AKA critical success index
<p>Range: 0 to 1
<p>No skill: 0
<p>Perfect score: 1

<h3>Equitable threat score</h3>
AKA Gilbert skill score
<p>Range: -1/3 to 1
<p>No skill: 0
<p>Perfect score: 1

<h3>Hanssen & Kuipers discriminant</h3>
AKA true skill statistic, Peirce's skill score
<p>Range: -1 to 1
<p>No skill: 0
<p>Perfect score: 1

<h3>Heidke skill score</h3>
AKA Cohen's k
<p>Range: -1 to 1
<p>No skill: 0
<p>Perfect score: 1

<h3>Odds ratio</h3>
<p>Range: 0 to &infin;
<p>No skill: 1
<p>Perfect score: &infin;

<h3>Odds ratio skill score</h3>
AKA Yule's Q
<p>Range: -1 to 1
<p>No skill: 0
<p>Perfect score: 1


<h2>NOTE</h2> Although the computed scores are originally designed to evaluate
climate forecasting models, they could be used for other kind of models.
The values of the above-mentioned contingency table are obtained by a underlying call to <em>r.stats</em>

<!--
<h2>EXAMPLE</h2>
-->

<h2>REFERENCES</h2>
[0] Stanski, H.R., Wilson, L.J. & Burrows, W.R., 1989. Survey of common
verification methods in meteorology, World Meteorological Organization
Geneva. Available at:
http://www.cawcr.gov.au/projects/verification/Stanski_et_al/Stanski_et_al.html.

<p>[1] <a
href=http://www.cawcr.gov.au/projects/verification/index.php#Methods_for_dichotomous_forecasts>Verification
methods for dichotomous forecasts</a>

<h2>SEE ALSO</h2>
r.stats

<h2>AUTHOR</h2>
Laurent G. Courty, Instituto de Ingenier&iacute;a UNAM, Mexico
